USE [test_paul]
GO
/****** Object:  Table [dbo].[transaction_type]    Script Date: 1/28/2026 10:16:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transaction_type](
	[tran_code] [varchar](4) NOT NULL,
	[tran_desc] [varchar](50) NOT NULL,
	[stat] [bit] NOT NULL
) ON [PRIMARY]
GO
