USE [test_paul]
GO
/****** Object:  Table [dbo].[member_ledger_bal1]    Script Date: 1/28/2026 10:16:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[member_ledger_bal1](
	[fiscal_year] [varchar](4) NULL,
	[member_id_no] [varchar](10) NULL,
	[tran_desc] [varchar](30) NULL,
	[dbit] [decimal](15, 2) NULL,
	[cbit] [decimal](15, 2) NULL,
	[bal] [decimal](15, 2) NULL
) ON [PRIMARY]
GO
