USE [test_paul]
GO
/****** Object:  Table [dbo].[transaction_type_item]    Script Date: 1/28/2026 10:16:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transaction_type_item](
	[tran_code] [varchar](4) NOT NULL,
	[fiscal_year] [varchar](4) NOT NULL,
	[charge_code] [varchar](2) NOT NULL,
	[item_code] [varchar](11) NOT NULL,
	[item_details] [varchar](50) NOT NULL,
	[item_amount] [decimal](15, 2) NOT NULL,
	[stat] [bit] NOT NULL
) ON [PRIMARY]
GO
