USE [test_paul]
GO
/****** Object:  Table [dbo].[cme_program_type]    Script Date: 1/28/2026 10:16:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cme_program_type](
	[cme_type_code] [bigint] NOT NULL,
	[cme_type] [varchar](20) NOT NULL,
	[stat] [bit] NOT NULL
) ON [PRIMARY]
GO
