USE [test_paul]
GO
/****** Object:  Table [dbo].[fiscal_year]    Script Date: 1/28/2026 10:16:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fiscal_year](
	[f_year_no] [varchar](1) NULL,
	[f_year] [varchar](4) NULL
) ON [PRIMARY]
GO
