USE [test_paul]
GO
/****** Object:  Table [dbo].[chapters]    Script Date: 1/28/2026 10:16:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chapters](
	[psa_chapter_code] [varchar](3) NOT NULL,
	[psa_chapter_desc] [varchar](50) NULL,
	[psa_chapter_address] [varchar](100) NULL,
	[psa_chapter_president] [varchar](50) NULL,
	[psa_chapter_contact_no] [varchar](50) NULL
) ON [PRIMARY]
GO
