USE [test_paul]
GO
/****** Object:  Table [dbo].[payment_items]    Script Date: 1/28/2026 10:16:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_items](
	[payment_ref_no] [varchar](10) NULL,
	[member_id_no] [varchar](10) NULL,
	[fiscal_year] [varchar](4) NULL,
	[item_code] [varchar](11) NULL,
	[tran_code] [varchar](4) NULL,
	[mem_type] [varchar](2) NULL,
	[amount_due] [decimal](15, 2) NULL,
	[stat] [bit] NULL
) ON [PRIMARY]
GO
