USE [test_paul]
GO
/****** Object:  Table [dbo].[cme_program]    Script Date: 1/28/2026 10:16:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cme_program](
	[cme_program_code] [varchar](10) NOT NULL,
	[cme_year] [varchar](4) NULL,
	[cme_program_type] [varchar](50) NULL,
	[cme_title] [varchar](255) NULL,
	[cme_topic] [varchar](255) NULL,
	[cme_chair] [varchar](50) NULL,
	[cme_incumbent_prez] [varchar](50) NULL,
	[cme_desc] [varchar](500) NULL,
	[cme_startdate] [date] NULL,
	[cme_enddate] [date] NULL,
	[cme_equiv_pts] [varchar](20) NULL,
	[cme_prc_ref] [varchar](20) NULL,
	[cme_venue] [varchar](100) NULL,
	[cme_budget] [varchar](20) NULL,
	[stat] [bit] NULL,
	[createdby] [varchar](50) NULL
) ON [PRIMARY]
GO
