USE [test_paul]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 1/28/2026 10:16:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[member_id_no] [varchar](10) NULL,
	[payment_ref_no] [varchar](10) NOT NULL,
	[payment_name] [varchar](50) NULL,
	[payment_add] [varchar](50) NULL,
	[payment_total_amt] [decimal](15, 2) NOT NULL,
	[payment_gross_amt] [decimal](15, 2) NULL,
	[payment_discount] [int] NULL,
	[payment_discounted_amt] [decimal](15, 2) NULL,
	[payment_tax] [int] NULL,
	[payment_tax_amt] [decimal](15, 2) NULL,
	[payment_type] [varchar](18) NOT NULL,
	[payment_date] [date] NOT NULL,
	[check_no] [varchar](18) NULL,
	[check_acct_no] [varchar](18) NULL,
	[check_name] [varchar](50) NULL,
	[bank_name_code] [varchar](50) NULL,
	[epay_vendor_name_code] [varchar](50) NULL,
	[epay_acct_no] [varchar](50) NULL,
	[credit_card_type] [varchar](50) NULL,
	[credit_card_no] [varchar](50) NULL,
	[credit_card_exp] [date] NULL,
	[debit_card_type] [varchar](50) NULL,
	[debit_card_no] [varchar](50) NULL,
	[debit_card_exp] [varchar](50) NULL,
	[or_no] [varchar](18) NULL,
	[userid] [varchar](20) NULL,
	[overideby] [varchar](20) NULL,
	[remarks] [varchar](50) NULL,
	[stat] [bit] NULL
) ON [PRIMARY]
GO
