USE [test_paul]
GO
/****** Object:  Table [dbo].[cme_program_rate]    Script Date: 1/28/2026 10:16:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cme_program_rate](
	[cme_program_code] [varchar](10) NULL,
	[charge_code] [varchar](2) NULL,
	[fullrate] [decimal](15, 2) NULL,
	[dailyrate] [decimal](15, 2) NULL,
	[prerate] [decimal](15, 2) NULL
) ON [PRIMARY]
GO
