USE [test_paul]
GO
/****** Object:  Table [dbo].[transaction_type_charge]    Script Date: 1/28/2026 10:16:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transaction_type_charge](
	[chargecode] [varchar](2) NULL,
	[chargetype] [varchar](50) NOT NULL,
	[stat] [bit] NULL
) ON [PRIMARY]
GO
