USE [PSADBLIVE]
GO
/****** Object:  Table [dbo].[member]    Script Date: 1/28/2026 10:17:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[member](
	[member_id_no] [varchar](4) NOT NULL,
	[old_id]  AS (([psa_chapter_code]+'-')+[member_id_no]),
	[psa_chapter_code] [varchar](3) NULL,
	[psa_mem_type] [varchar](2) NULL,
	[psa_mem_stat]  AS ([dbo].[MemberPSAstat]([member_id_no])),
	[mem_stat] [varchar](15) NULL,
	[mem_pic] [varbinary](max) NULL,
	[mem_last_name] [varchar](50) NULL,
	[mem_first_name] [varchar](50) NULL,
	[mem_middle_name] [varchar](50) NULL,
	[mem_home_address] [varchar](255) NULL,
	[mem_province] [varchar](50) NULL,
	[mem_landline_no1] [varchar](50) NULL,
	[mem_landline_no2] [varchar](50) NULL,
	[mem_mobile_no1] [varchar](50) NULL,
	[mem_mobile_no2] [varchar](50) NULL,
	[mem_fax_no] [varchar](50) NULL,
	[mem_email_address] [varchar](70) NULL,
	[mem_birth_date] [date] NULL,
	[mem_birth_place] [varchar](50) NULL,
	[mem_religion] [varchar](50) NULL,
	[mem_gender] [varchar](50) NULL,
	[mem_citizenship] [varchar](50) NULL,
	[mem_civil_status] [varchar](50) NULL,
	[mem_blood_type] [varchar](3) NULL,
	[spouse_name] [varchar](50) NULL,
	[spouse_occupation] [varchar](50) NULL,
	[spouse_address] [varchar](50) NULL,
	[spouse_phone_no] [varchar](50) NULL,
	[mem_prc_no] [varchar](50) NULL,
	[mem_prc_exp_date] [date] NULL,
	[mem_pma_id_no] [varchar](50) NULL,
	[mem_pma_exp_yr] [date] NULL,
	[mem_fellow_no] [varchar](50) NULL,
	[mem_fellow_yr] [varchar](50) NULL,
	[mem_tin_no] [varchar](50) NULL,
	[mem_sss_no] [varchar](50) NULL,
	[mem_gsis_no] [varchar](50) NULL,
	[mem_phic_no] [varchar](50) NULL,
	[mem_phic_exp_yr] [date] NULL,
	[mem_sr_no] [varchar](50) NULL,
	[cme_points] [int] NULL,
	[mem_practice_pref] [varchar](1) NULL,
	[mem_age]  AS (datediff(year,[mem_birth_date],getdate())),
	[mem_dbfstat] [bit] NULL,
	[mem_total_bal]  AS ([dbo].[MemberTotalDues]([member_id_no])),
	[cme_units]  AS ([dbo].[grandtotalunits]([member_id_no])),
	[remarks] [varchar](1000) NULL,
	[datejoin] [date] NULL,
 CONSTRAINT [PK_member] PRIMARY KEY CLUSTERED 
(
	[member_id_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
