USE [test_paul]
GO
/****** Object:  Table [dbo].[cme_program_registration_type]    Script Date: 1/28/2026 10:16:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cme_program_registration_type](
	[reg_type_code] [varchar](2) NULL,
	[reg_type] [varchar](20) NULL
) ON [PRIMARY]
GO
