USE [test_paul]
GO
/****** Object:  Table [dbo].[archive_histo]    Script Date: 1/28/2026 10:16:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[archive_histo](
	[fiscalyear] [varchar](4) NULL,
	[psaid] [varchar](10) NULL,
	[trancode] [varchar](4) NULL,
	[itemcode] [varchar](11) NULL,
	[description] [nvarchar](255) NULL,
	[amount] [decimal](15, 2) NULL,
	[orno] [nvarchar](255) NULL,
	[paydate] [nvarchar](255) NULL
) ON [PRIMARY]
GO
