USE [test_paul]
GO
/****** Object:  Table [dbo].[cme_program_registration]    Script Date: 1/28/2026 10:16:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cme_program_registration](
	[cme_year] [varchar](4) NULL,
	[cme_program_code] [varchar](10) NULL,
	[member_id_no] [varchar](4) NULL,
	[mem_last_name] [varchar](50) NULL,
	[mem_first_name] [varchar](50) NULL,
	[mem_middle_name] [varchar](50) NULL,
	[cme_reg_date] [date] NULL,
	[cme_cert_no] [varchar](14) NULL,
	[cme_cert_issued_date] [date] NULL,
	[cme_print_nametag] [bit] NULL,
	[payment_ref_no] [varchar](20) NULL,
	[cme_reg_type] [varchar](20) NULL,
	[cme_reg_type_date] [date] NULL,
	[registeredby] [varchar](20) NULL,
	[cme_units] [decimal](15, 2) NULL
) ON [PRIMARY]
GO
