USE [test_paul]
GO
/****** Object:  Table [dbo].[membership_type]    Script Date: 1/28/2026 10:16:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[membership_type](
	[Memtypecode] [varchar](2) NULL,
	[Memtype] [varchar](50) NOT NULL,
	[stat] [bit] NULL
) ON [PRIMARY]
GO
