USE [test_paul]
GO
/****** Object:  Table [dbo].[archive_histo]    Script Date: 1/28/2026 10:26:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[archive_histo](
	[fiscalyear] [varchar](4) NULL,
	[psaid] [varchar](10) NULL,
	[trancode] [varchar](4) NULL,
	[itemcode] [varchar](11) NULL,
	[description] [nvarchar](255) NULL,
	[amount] [decimal](15, 2) NULL,
	[orno] [nvarchar](255) NULL,
	[paydate] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cache]    Script Date: 1/28/2026 10:26:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cache](
	[key] [nvarchar](255) NOT NULL,
	[value] [nvarchar](max) NOT NULL,
	[expiration] [int] NOT NULL,
 CONSTRAINT [cache_key_primary] PRIMARY KEY CLUSTERED 
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cache_locks]    Script Date: 1/28/2026 10:26:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cache_locks](
	[key] [nvarchar](255) NOT NULL,
	[owner] [nvarchar](255) NOT NULL,
	[expiration] [int] NOT NULL,
 CONSTRAINT [cache_locks_key_primary] PRIMARY KEY CLUSTERED 
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chapters]    Script Date: 1/28/2026 10:26:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chapters](
	[psa_chapter_code] [varchar](3) NOT NULL,
	[psa_chapter_desc] [varchar](50) NULL,
	[psa_chapter_address] [varchar](100) NULL,
	[psa_chapter_president] [varchar](50) NULL,
	[psa_chapter_contact_no] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cme_program]    Script Date: 1/28/2026 10:26:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cme_program](
	[cme_program_code] [varchar](10) NOT NULL,
	[cme_year] [varchar](4) NULL,
	[cme_program_type] [varchar](50) NULL,
	[cme_title] [varchar](255) NULL,
	[cme_topic] [varchar](255) NULL,
	[cme_chair] [varchar](50) NULL,
	[cme_incumbent_prez] [varchar](50) NULL,
	[cme_desc] [varchar](500) NULL,
	[cme_startdate] [date] NULL,
	[cme_enddate] [date] NULL,
	[cme_equiv_pts] [varchar](20) NULL,
	[cme_prc_ref] [varchar](20) NULL,
	[cme_venue] [varchar](100) NULL,
	[cme_budget] [varchar](20) NULL,
	[stat] [bit] NULL,
	[createdby] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cme_program_rate]    Script Date: 1/28/2026 10:26:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cme_program_rate](
	[cme_program_code] [varchar](10) NULL,
	[charge_code] [varchar](2) NULL,
	[fullrate] [decimal](15, 2) NULL,
	[dailyrate] [decimal](15, 2) NULL,
	[prerate] [decimal](15, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cme_program_registration]    Script Date: 1/28/2026 10:26:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cme_program_registration](
	[cme_year] [varchar](4) NULL,
	[cme_program_code] [varchar](10) NULL,
	[member_id_no] [varchar](4) NULL,
	[mem_last_name] [varchar](50) NULL,
	[mem_first_name] [varchar](50) NULL,
	[mem_middle_name] [varchar](50) NULL,
	[cme_reg_date] [date] NULL,
	[cme_cert_no] [varchar](14) NULL,
	[cme_cert_issued_date] [date] NULL,
	[cme_print_nametag] [bit] NULL,
	[payment_ref_no] [varchar](20) NULL,
	[cme_reg_type] [varchar](20) NULL,
	[cme_reg_type_date] [date] NULL,
	[registeredby] [varchar](20) NULL,
	[cme_units] [decimal](15, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cme_program_registration_type]    Script Date: 1/28/2026 10:26:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cme_program_registration_type](
	[reg_type_code] [varchar](2) NULL,
	[reg_type] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cme_program_type]    Script Date: 1/28/2026 10:26:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cme_program_type](
	[cme_type_code] [bigint] NOT NULL,
	[cme_type] [varchar](20) NOT NULL,
	[stat] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[failed_jobs]    Script Date: 1/28/2026 10:26:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[failed_jobs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[uuid] [nvarchar](255) NOT NULL,
	[connection] [nvarchar](max) NOT NULL,
	[queue] [nvarchar](max) NOT NULL,
	[payload] [nvarchar](max) NOT NULL,
	[exception] [nvarchar](max) NOT NULL,
	[failed_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fiscal_year]    Script Date: 1/28/2026 10:26:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fiscal_year](
	[f_year_no] [varchar](1) NULL,
	[f_year] [varchar](4) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_batches]    Script Date: 1/28/2026 10:26:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_batches](
	[id] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[total_jobs] [int] NOT NULL,
	[pending_jobs] [int] NOT NULL,
	[failed_jobs] [int] NOT NULL,
	[failed_job_ids] [nvarchar](max) NOT NULL,
	[options] [nvarchar](max) NULL,
	[cancelled_at] [int] NULL,
	[created_at] [int] NOT NULL,
	[finished_at] [int] NULL,
 CONSTRAINT [job_batches_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jobs]    Script Date: 1/28/2026 10:26:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jobs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[queue] [nvarchar](255) NOT NULL,
	[payload] [nvarchar](max) NOT NULL,
	[attempts] [tinyint] NOT NULL,
	[reserved_at] [int] NULL,
	[available_at] [int] NOT NULL,
	[created_at] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[member_ledger_bal]    Script Date: 1/28/2026 10:26:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[member_ledger_bal](
	[fiscal_year] [varchar](4) NULL,
	[member_id_no] [varchar](10) NULL,
	[tran_desc] [varchar](30) NULL,
	[dbit] [decimal](15, 2) NULL,
	[cbit] [decimal](15, 2) NULL,
	[bal] [decimal](15, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[member_ledger_bal1]    Script Date: 1/28/2026 10:26:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[member_ledger_bal1](
	[fiscal_year] [varchar](4) NULL,
	[member_id_no] [varchar](10) NULL,
	[tran_desc] [varchar](30) NULL,
	[dbit] [decimal](15, 2) NULL,
	[cbit] [decimal](15, 2) NULL,
	[bal] [decimal](15, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[member1]    Script Date: 1/28/2026 10:26:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[member1](
	[member_id_no] [varchar](4) NOT NULL,
	[old_id] [varchar](8) NULL,
	[psa_chapter_code] [varchar](3) NULL,
	[psa_mem_type] [varchar](2) NULL,
	[psa_mem_stat] [varchar](15) NULL,
	[mem_stat] [varchar](15) NULL,
	[mem_pic] [varbinary](max) NULL,
	[mem_last_name] [varchar](50) NULL,
	[mem_first_name] [varchar](50) NULL,
	[mem_middle_name] [varchar](50) NULL,
	[mem_home_address] [varchar](255) NULL,
	[mem_province] [varchar](50) NULL,
	[mem_landline_no1] [varchar](50) NULL,
	[mem_landline_no2] [varchar](50) NULL,
	[mem_mobile_no1] [varchar](50) NULL,
	[mem_mobile_no2] [varchar](50) NULL,
	[mem_fax_no] [varchar](50) NULL,
	[mem_email_address] [varchar](70) NULL,
	[mem_birth_date] [date] NULL,
	[mem_birth_place] [varchar](50) NULL,
	[mem_religion] [varchar](50) NULL,
	[mem_gender] [varchar](50) NULL,
	[mem_citizenship] [varchar](50) NULL,
	[mem_civil_status] [varchar](50) NULL,
	[mem_blood_type] [varchar](3) NULL,
	[spouse_name] [varchar](50) NULL,
	[spouse_occupation] [varchar](50) NULL,
	[spouse_address] [varchar](50) NULL,
	[spouse_phone_no] [varchar](50) NULL,
	[mem_prc_no] [varchar](50) NULL,
	[mem_prc_exp_date] [date] NULL,
	[mem_pma_id_no] [varchar](50) NULL,
	[mem_pma_exp_yr] [date] NULL,
	[mem_fellow_no] [varchar](50) NULL,
	[mem_fellow_yr] [varchar](50) NULL,
	[mem_tin_no] [varchar](50) NULL,
	[mem_sss_no] [varchar](50) NULL,
	[mem_gsis_no] [varchar](50) NULL,
	[mem_phic_no] [varchar](50) NULL,
	[mem_phic_exp_yr] [date] NULL,
	[mem_sr_no] [varchar](50) NULL,
	[cme_points] [int] NULL,
	[mem_practice_pref] [varchar](1) NULL,
	[mem_age] [int] NULL,
	[mem_dbfstat] [bit] NULL,
	[mem_total_bal] [decimal](15, 2) NULL,
	[cme_units] [decimal](15, 2) NULL,
	[remarks] [varchar](1000) NULL,
	[datejoin] [date] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[members]    Script Date: 1/28/2026 10:26:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[members](
	[member_id_no] [varchar](4) NOT NULL,
	[old_id] [varchar](8) NULL,
	[psa_chapter_code] [varchar](3) NULL,
	[psa_mem_type] [varchar](2) NULL,
	[psa_mem_stat] [varchar](15) NULL,
	[mem_stat] [varchar](15) NULL,
	[mem_pic] [varbinary](max) NULL,
	[mem_last_name] [varchar](50) NULL,
	[mem_first_name] [varchar](50) NULL,
	[mem_middle_name] [varchar](50) NULL,
	[mem_home_address] [varchar](255) NULL,
	[mem_province] [varchar](50) NULL,
	[mem_landline_no1] [varchar](50) NULL,
	[mem_landline_no2] [varchar](50) NULL,
	[mem_mobile_no1] [varchar](50) NULL,
	[mem_mobile_no2] [varchar](50) NULL,
	[mem_fax_no] [varchar](50) NULL,
	[mem_email_address] [varchar](70) NULL,
	[mem_birth_date] [date] NULL,
	[mem_birth_place] [varchar](50) NULL,
	[mem_religion] [varchar](50) NULL,
	[mem_gender] [varchar](50) NULL,
	[mem_citizenship] [varchar](50) NULL,
	[mem_civil_status] [varchar](50) NULL,
	[mem_blood_type] [varchar](3) NULL,
	[spouse_name] [varchar](50) NULL,
	[spouse_occupation] [varchar](50) NULL,
	[spouse_address] [varchar](50) NULL,
	[spouse_phone_no] [varchar](50) NULL,
	[mem_prc_no] [varchar](50) NULL,
	[mem_prc_exp_date] [date] NULL,
	[mem_pma_id_no] [varchar](50) NULL,
	[mem_pma_exp_yr] [date] NULL,
	[mem_fellow_no] [varchar](50) NULL,
	[mem_fellow_yr] [varchar](50) NULL,
	[mem_tin_no] [varchar](50) NULL,
	[mem_sss_no] [varchar](50) NULL,
	[mem_gsis_no] [varchar](50) NULL,
	[mem_phic_no] [varchar](50) NULL,
	[mem_phic_exp_yr] [date] NULL,
	[mem_sr_no] [varchar](50) NULL,
	[cme_points] [int] NULL,
	[mem_practice_pref] [varchar](1) NULL,
	[mem_age] [int] NULL,
	[mem_dbfstat] [bit] NULL,
	[mem_total_bal] [decimal](15, 2) NULL,
	[cme_units] [decimal](15, 2) NULL,
	[remarks] [varchar](1000) NULL,
	[datejoin] [date] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[membership_type]    Script Date: 1/28/2026 10:26:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[membership_type](
	[Memtypecode] [varchar](2) NULL,
	[Memtype] [varchar](50) NOT NULL,
	[stat] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[migrations]    Script Date: 1/28/2026 10:26:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[migrations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[migration] [nvarchar](255) NOT NULL,
	[batch] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset_tokens]    Script Date: 1/28/2026 10:26:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_tokens](
	[email] [nvarchar](255) NOT NULL,
	[token] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [password_reset_tokens_email_primary] PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_items]    Script Date: 1/28/2026 10:26:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_items](
	[payment_ref_no] [varchar](10) NULL,
	[member_id_no] [varchar](10) NULL,
	[fiscal_year] [varchar](4) NULL,
	[item_code] [varchar](11) NULL,
	[tran_code] [varchar](4) NULL,
	[mem_type] [varchar](2) NULL,
	[amount_due] [decimal](15, 2) NULL,
	[stat] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 1/28/2026 10:26:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[member_id_no] [varchar](10) NULL,
	[payment_ref_no] [varchar](10) NOT NULL,
	[payment_name] [varchar](50) NULL,
	[payment_add] [varchar](50) NULL,
	[payment_total_amt] [decimal](15, 2) NOT NULL,
	[payment_gross_amt] [decimal](15, 2) NULL,
	[payment_discount] [int] NULL,
	[payment_discounted_amt] [decimal](15, 2) NULL,
	[payment_tax] [int] NULL,
	[payment_tax_amt] [decimal](15, 2) NULL,
	[payment_type] [varchar](18) NOT NULL,
	[payment_date] [date] NOT NULL,
	[check_no] [varchar](18) NULL,
	[check_acct_no] [varchar](18) NULL,
	[check_name] [varchar](50) NULL,
	[bank_name_code] [varchar](50) NULL,
	[epay_vendor_name_code] [varchar](50) NULL,
	[epay_acct_no] [varchar](50) NULL,
	[credit_card_type] [varchar](50) NULL,
	[credit_card_no] [varchar](50) NULL,
	[credit_card_exp] [date] NULL,
	[debit_card_type] [varchar](50) NULL,
	[debit_card_no] [varchar](50) NULL,
	[debit_card_exp] [varchar](50) NULL,
	[or_no] [varchar](18) NULL,
	[userid] [varchar](20) NULL,
	[overideby] [varchar](20) NULL,
	[remarks] [varchar](50) NULL,
	[stat] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sessions]    Script Date: 1/28/2026 10:26:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sessions](
	[id] [nvarchar](255) NOT NULL,
	[user_id] [bigint] NULL,
	[ip_address] [nvarchar](45) NULL,
	[user_agent] [nvarchar](max) NULL,
	[payload] [nvarchar](max) NOT NULL,
	[last_activity] [int] NOT NULL,
 CONSTRAINT [sessions_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transaction_type]    Script Date: 1/28/2026 10:26:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transaction_type](
	[tran_code] [varchar](4) NOT NULL,
	[tran_desc] [varchar](50) NOT NULL,
	[stat] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transaction_type_charge]    Script Date: 1/28/2026 10:26:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transaction_type_charge](
	[chargecode] [varchar](2) NULL,
	[chargetype] [varchar](50) NOT NULL,
	[stat] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transaction_type_item]    Script Date: 1/28/2026 10:26:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transaction_type_item](
	[tran_code] [varchar](4) NOT NULL,
	[fiscal_year] [varchar](4) NOT NULL,
	[charge_code] [varchar](2) NOT NULL,
	[item_code] [varchar](11) NOT NULL,
	[item_details] [varchar](50) NOT NULL,
	[item_amount] [decimal](15, 2) NOT NULL,
	[stat] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 1/28/2026 10:26:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
 CONSTRAINT [PK_users_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users_old]    Script Date: 1/28/2026 10:26:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users_old](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[email_verified_at] [datetime] NULL,
	[password] [nvarchar](255) NOT NULL,
	[remember_token] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[failed_jobs] ADD  DEFAULT (getdate()) FOR [failed_at]
GO
